// ========================================================================
//    Title:  Clearfix
//    Type:   Helper
// ========================================================================

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

%clearfix {
    @include clearfix;
}
