// ========================================================================
//    Title:  Clearfix
//    Type:   Helper
//    Credit: http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
// ========================================================================

@mixin clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

%clearfix {
    @include clearfix;
}
