// ========================================================================
//    Title:  Hide text
//    Type:   Helper
// ========================================================================

@mixin hide-text {
    display: inline-block;
    overflow: hidden;
    text-align: left;
    text-indent: 100%;
    white-space: nowrap;
}

%hide-text {
    @include hide-text;
}
