// ========================================================================
//    Title:  Transitions
//    Type:   Helper
// ========================================================================

@mixin transitions {
    transition-duration: 0.3s;
    transition-property:
        background-color,
        background-position,
        border-color,
        color,
        opacity,
        outline-color,
        text-shadow;
    transition-timing-function: ease-out;
}

%transitions {
    @include transitions;
}
