// ========================================================================
//    Title:  Form
//    Type:   Module
// ========================================================================

.form {

    legend {

    }

    div {

        label {

        }

        input[type="text"] {

            &:hover:not(:disabled) {

            }

            &:focus:not(:disabled) {

            }

            &:disabled {

            }
        }

        input[type="checkbox"],
        input[type="radio"] {
            @extend %visually-hidden;

            + label {

                &::before {

                }
            }

            &:checked + label {

                &::before {

                }
            }
        }

        input[type="checkbox"] {

            + label {

                &::before {

                }
            }

            &:checked + label {

                &::before {

                }
            }
        }

        input[type="radio"] {

            + label {

                &::before {

                }
            }

            &:checked + label {

                &::before {

                }
            }
        }

        &.custom-select {

            select {
                appearance: none;

                &::-ms-expand {
                    display: none;
                }
            }

            &::after {
                pointer-events: none;
            }
        }

        button[type="submit"] {

        }
    }
}
