// ========================================================================
//    Title:  Ellipsis
//    Type:   Mixin
//    Credit: https://github.com/thoughtbot/bourbon/blob/master/dist/addons/_ellipsis.scss
// ========================================================================

@mixin ellipsis($display: inline-block, $max-width: 100%) {
    display: $display;
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
