// ========================================================================
//    Title:  Ellipsis
//    Type:   Mixin
// ========================================================================

@mixin ellipsis($display: inline-block, $max-width: 100%) {
    display: $display;
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
