// ========================================================================
//    Title:  Font face
//    Type:   Mixin
// ========================================================================

@mixin font-face($family, $file-path, $weight: normal, $style: normal, $stretch: normal) {
    @font-face {
        font-family:  $family;
        src: url("#{$file-path}.woff2") format("woff2"),
             url("#{$file-path}.woff") format("woff");
        font-stretch: $stretch;
        font-weight:  $weight;
        font-style:   $style;
    }
}

// Replace code above with the following if you need to support IE8, Opera Mini and older versions of Android.
// @mixin font-face($family, $file-path, $weight: normal, $style: normal, $stretch: normal) {
//     @font-face {
//         font-family:  $family;
//         src: url("#{$file-path}.eot");
//         src: url("#{$file-path}.eot#iefix") format("embedded-opentype"),
//              url("#{$file-path}.woff") format("woff"),
//              url("#{$file-path}.ttf") format("truetype"),
//              url("#{$file-path}.svg##{$family}") format("svg");
//         font-stretch: $stretch;
//         font-weight:  $weight;
//         font-style:   $style;
//     }
// }
