// ========================================================================
//    Title:  Variables
// ========================================================================

$base-font-size:   16px;
$base-line-height: 1.375;

//  - Colors
// =================================================
// Use this tool to help you with naming your color variables:
// http://chir.ag/projects/name-that-color/

$black:         #000000;
$cod-gray:      #060606;
$debug:         rgba(#fad, 0.4);
$dustygray:     #999999;
$mineshaft:     #333333;
$white:         #ffffff;

//  - Font stacks
// =================================================
$arial: Arial, Helvetica, sans-serif;
